/* IMPOSTAZIONI GENERALI */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    color:#393d41;
    line-height: 1.65rem;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #25a2c3;
    line-height: 1.5rem;
}

footer {
    color: #c8e7f0;
}


/* HEADER */
.logo {
    background-color: #000;
    text-align: center;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo__immagine {
    max-width: 100%;
    width: 200px;
}


/* ARTICOLO PRINCIPALE */
.intro {
    text-align: center;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    padding: 44px 25px;
}

.intro__title {
    font-size: 2rem;
}

.intro__p {
    line-height: 2rem;
    padding: 27px 0;
}

.intro__button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: #f04c2f;
    text-decoration: none;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
}

/* CONTENUTO SECONDARIO */
.secondary__img {
    border-radius: 100%;
    width: 75%;
    display: block;
    margin: 0 auto;
}

.last {
    background-color: #e22d0e;
}


/* ASIDE */
.card {
    border: 2px solid #dee1e3;
}

.card__image {
    max-width: 100%;
}


/* FOOTER */
.footer {
    background-color: #25a2c3;
}

.footer__title {
    color: #fff;
}

.footer__link {
    color: #c8e7f0;
}