/* IMPOSTAZIONI GENERALI */
body {
    background-image: url("../img/sfondo.png");
    font-family: 'Poppins', sans-serif;
}

li {
    list-style-type: none;
}

.content {
    margin: 20px;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 35px;
}

strong {
    color: #aa2072;
    font-weight: bold;
}

code {
    background-color: #ddddde;
    border: 2px solid #aaa;
    border-radius: 10%;
}

caption {
    font-style: italic;
    font-weight: bold;
    margin-bottom: 5px;
}

a {
    color: #0099cc;
}

iframe {
    border-radius: 10%;
    max-width: 100%;
    min-width: auto;
}

/* HEADER */
.logo {
    width: 250px;
    height: 60px;
    margin-bottom: 20px;
    max-width: 100%;
}

.header {
    background-image: linear-gradient(351deg, #007788, #2596be);
    padding: 25px;
    box-shadow: 0px 1px 10px -2px #000000;
    text-align: center;
}

.header p, .header a {
    color:#fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.header p {
    margin-bottom: 25px;
}

li::before {
    color: #fff;
    content: "⇒ ";
    font-weight: bold;
  }

li::after {
    color: #fff;
    content: " ⇐";
    font-weight: bold;
}

header li {
    line-height: 1.5rem;
}

/* MAIN */
main {
    background-color: #fff;
    padding: 40px 20px;
    box-shadow: 0px 1px 10px -2px #000000;
}

/* ELEMENTI NEL MAIN - ARTICLE */
.author {
    color:#94aa99;
}

article p {
    padding: 20px 0;
}

article ul li {
    list-style-type: disc;
    margin-left: 35px;
    line-height: 25px;
}

article ol li {
    list-style-type: revert;
    margin-left: 35px;
    line-height: 25px;
    padding-left: 0;
}

li span {
    margin-left:-1.2rem;
}

.video {
    width: 100%;
    max-width: 100%;
}

/* TABELLE */
tr td, th {
    padding: 18px;
}

th {
    background-color: #3567e9;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #eee;
    border-top: 2px solid #ddddde;
    border-bottom: 2px solid #ddddde;

}

tbody tr:last-child {
    border-bottom: 2px solid #3366cc;
}

.table {
    overflow: auto;
}

/* FORM */
.subtitle {
    text-transform: uppercase;
}

/* ELEMENTI NELL' ASIDE */

.related__article {
    background-color: #e0e0e1;
    margin: 18px 0;
    padding: 18px;
    border: 3px solid #ccc;
}

/* FOOTER */
